html {
 height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #87abc0
}
header {
  margin-bottom: 5%;
}
main {
  height: 80%;
}

footer {
  height: 10%;
}

.card {
  background-color: #eef5e7;
}

.button {
  background-color: rgb(63, 177, 129);
  color: antiquewhite
}