html {
 height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #c3def0
}
header {
  margin-bottom: 5%;
}
main {
  height: 80%;
}

footer {
  height: 10%;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #b5cedf;
}
.card {
  background-color: #b5cedf;
  margin-bottom: 2.5%;
}

.button {
  background-color: #90a6b4;
  color: rgb(41, 47, 53);
  margin-bottom: 1%;
}

.contactform {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  background-color: #b5cedf;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}
/* .portfolioTitle {
  
} */